$Montserrat: 'Montserrat', sans-serif;
$DrukWide: 'Druk Wide';
$black: #1f2326;
$pink: #ff4656;
$gray: #505155;
$white: #ffffff;

header {
  display: flex;
  position: absolute;
  align-items: center;
  width: 1350px;
  height: 80px;
  top: 81.5px;
  z-index: 1111;
  background: $black;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.5);

  .arrow-down {
    cursor: pointer;
    width: 0;
    height: 0;
    border: 2px solid transparent;
    border-top: 2px solid $white;
    border-right: 2px solid $white;
    margin-left: 15px;
    margin-top: -2px;
    transform: rotate(135deg);
  }

  .valorant-logo img {
    width: 30px;
    margin-left: 40px;
  }

  .riotgames-logo img {
    width: 45px;
    margin-left: 40px;
  }

  .header-line {
    height: 30px;
    border-left: 1px solid $white;
    margin-left: 40px;
  }
  nav {
    display: flex;
    div {
      display: flex;
      align-items: center;
    }
  }
  a {
    font-family: $Montserrat;
    margin-left: 45px;
    line-height: 17px;
    font-size: 9.5px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
  }
  .profile {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
    .profile-nickname {
      margin-left: -30px;
    }
    .profile-avatar img {
      width: 25px;
      border-radius: 50%;
      margin-top: 3px;
    }
  }
}
